* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgray;
  padding: 15px;
  font-size: 20px;
}
h3,
h4,
p {
  padding: 0.4rem 0;
}

p span {
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
}

#menu-bar {
  position: sticky;
  top: 0;
  background-color: darkgray;
  margin-bottom: 15px;
}

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 0 0;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: crimson;
  display: block;
  border-radius: 3px;
  transition: ease 0.3s;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav li {
  list-style: none;
  padding: 10px 0;
  margin: 3px 0;
  background-color: cornflowerblue;
  border-radius: 3px;
  height: 3.2rem;
  text-align: center;
}

.nav li a {
  color: #000000cc;
  text-decoration: none;
}

.change .bar {
  background-color: #ffffff;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.nav {
  padding: 0;
  display: none;
}

.nav.change {
  display: block;
}

.article {
  margin-bottom: 40px;
}

.eng-article {
  font-size: 20px;
}

img {
  width: scale(0.3);
  margin: 20px 0;
}

pre {
  font-family: inherit;
  font-size: inherit;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  body {
    padding: 15px;
    font-size: 20px;
  }

  img {
    width: 100%;
  }

  .eng-article {
    font-size: 22px;
  }
}

/* .qoute-list {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  background-color: cornflowerblue;
  text-align: center;
} */
